:root {
  --counterborder: #0f0000;
  --xorcery: #8a2be2;
}

nav {
  border: 5px double var(--xorcery);
  padding: 4px 0;
}
nav, nav a {
  color: pink;
  font-family: monospace;
}
nav .sep { padding: 0 2em; }
counter d {
  display: inline-block;
  background: rgba(0,0,0) linear-gradient(#054146 0%, #010811 100%) no-repeat;
  color: lime; /* A drop of lime to bring out the annoyumami */
  margin: 0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
  border: 1px solid var(--counterborder);
  border-left: none;
  font-family: monospace;
  font-size: 1.5em;
}
h2 { font-size: 1.9em; }
h3 { font-weight: normal; }

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: white;
  margin: 0;
  padding: 0;
}
p, h1, h2, h3, .bounds {
  display: block;
  max-width: 720px;
}

/*#logo {
  background-image: url('/public/culture.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}*/
#logo {
  background-image: linear-gradient(to bottom, #000, #171516 51%);
  background-image: url('/glitch-eof.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 75%;
  font-size: 1.3em;
}
section { padding: 4em 2em; }

footer, footer a {
  color: #333;
  text-align: center;
  text-decoration: none;
}
#neointernet a, #neointernet a:visted { color: var(--xorcery); }

#btn-reboot {
  color: white;
  font-size: 1.2em;
  font-family: monospace;
  padding: 0.5em 2em;
  display: inline-block;
  background-color: var(--xorcery); /* #5b2c6f;*/
  border: 1px solid #a569bd;
  border-radius: 2px;
  margin-top: 1em;
  margin-bottom: 2em;
}
#attempts {
  background: #000; /* linear-gradient(to bottom, #171516, #090c18);*/
}
#hero {
  font-weight: bold;
  font-size: 3em;
  color: var(--xorcery);
  text-shadow: 1px 3px 2px #530070;
}
#hero .arg {
  font-weight: normal;
  color: #fa72d2;
  font-size: 0.7em;
}
#problem {
  /* background-color: #ef5c8070; *//*#ac337d;*/
  background: linear-gradient(#dd5cef70, #ac337d);
}
#problem img {
  box-shadow: 0px 2px 10px #01016191;
  border-radius: 4px;
}
#problem p { padding: 1.5em; }

@media (max-width: 499px) {
  #hero { font-size: 2em; }
  section { padding: 2em; }
  nav { flex-direction: column; }
  nav .sep { display: none; }
}
/*
counter d:first-child {
  border: 1px solid var(--counterborder);
}

.mush {
  filter: sepia(100%) hue-rotate(214deg);
}

@keyframes rotate-hue {
  from {filter: sepia(100%) hue-rotate(0deg);}
  to {filter: sepia(100%) hue-rotate(360deg);}
}
.blinky {
  filter: sepia(100%) hue-rotate(214deg);
}
@keyframes blink-cursor {
  from, 49% {opacity: 1;}
  50%, to {opacity: 0;}
}
*/

/*guestbook*/
guest-book { display: block; }
guest-book .post { margin: 2em 0; max-width: 500px; overflow-x: hidden; }
guest-book .post .portrait img,
guest-book .post .portrait .placeholder {
  border-radius: 5px;
  border: 1px solid #ff00ff;
  max-width: 3em;
}
guest-book .post .portrait .placeholder { width: 3em; height: 3em; }
guest-book .gutter { padding-right: 1em; }
guest-book .alias { font-size: larger; }
guest-book .post .content {
  max-height: 16em;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
}
guest-book .post .images img.preview {
  max-width: 4em;
  max-height: 4em;
  border: 1px solid #555;
  filter: grayscale() blur(2px);
}
guest-book .post .images dialog img { max-width: 100%; }
guest-book .post .images dialog { padding: 0; background-color: transparent; }
guest-book .post time { color: #888; }
@media (max-width: 499px) {
  section#guestbook { padding: 0.5em; }
  guest-book .post .portrait img,
  guest-book .post .portrait .placeholder { max-width: 2em; max-height: 2em; }
}

/* picoflex.css */
row, column, column-reverse, row-reverse, .flex {display:flex;}
row, .row {flex-direction: row;}
row-reverse, .row-reverse{flex-direction: row-reverse;}
column, col, .column, .col {flex-direction: column;}
column-reverse, .column-reverse{flex-direction: column-reverse;}
.wrap{flex-wrap: wrap;}
.wrap-reverse{flex-wrap: wrap-reverse;}
.nowrap{flex-wrap: nowrap;}
.space-around{ justify-content: space-around; }
.space-between{ justify-content: space-between; }
.start{ justify-content: flex-start; }
.end{ justify-content: flex-end; }
.center{ justify-content: center; }
.xstart{ align-items: flex-start; }
.xend{ align-items: flex-end; }
.xcenter{ align-items: center; }
.xbaseline{ align-items: baseline; }
.xstrech { align-items: strech; }
.grow1{ flex-grow: 1; }
.grow2{ flex-grow: 2; }
.grow3{ flex-grow: 3; }
.grow4{ flex-grow: 4; }
.text-right{ text-align: right;}
.text-left{ text-align: left;}
.text-center{ text-align: center;}
.text-start{ text-align: start;}
.text-end{ text-align: end; }
.pull-right{ float: right; }
