:root {
  --counterborder: #0f0000;
  --xorcery: #8a2be2;
  --blood: #e2452b;
  --lov: #b0f;
  --tox: #2be2af;
}

nav {
  border: 5px double var(--xorcery);
  padding: 4px 1em;
}
nav, nav a {
  color: pink;
  font-family: monospace;
}
nav .sep { padding: 0 2em; }
counter d {
  display: inline-block;
  background: rgba(0,0,0) linear-gradient(#054146 0%, #010811 100%) no-repeat;
  color: lime; /* A drop of lime to bring out the annoyumami */
  margin: 0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
  border: 1px solid var(--counterborder);
  border-left: none;
  font-family: monospace;
  font-size: 1.5em;
}
h2 { font-size: 1.9em; }
h3 { font-weight: normal; }

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: white;
  margin: 0;
  padding: 0;
}
p, h1, h2, h3, .bounds {
  display: block;
  max-width: 720px;
}

section#propaganda p { color: var(--lov); font-size: larger; }
/*#logo {
  background-image: url('/public/culture.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}*/

hr {
  display: block;
  width: 66%;
  border: none;
  border-bottom: 2px dashed var(--xorcery);
  margin-top: 2em;
  margin-bottom: 1em;
}

#logo {
  background-image: linear-gradient(to bottom, #000, #171516 51%);
  background-image: url('/glitch-eof.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 75%;
  font-size: 1.3em;
}
section { padding: 4em 2em; }

footer, footer a {
  color: #333;
  text-align: center;
  text-decoration: none;
}
#neointernet a, #neointernet a:visted { color: var(--xorcery); }

#btn-reboot {
  color: white;
  font-size: 1.2em;
  font-family: monospace;
  padding: 0.5em 2em;
  display: inline-block;
  background-color: var(--xorcery); /* #5b2c6f;*/
  border: 1px solid #a569bd;
  border-radius: 2px;
  margin-top: 1em;
  margin-bottom: 2em;
}
#attempts {
  background: #000; /* linear-gradient(to bottom, #171516, #090c18);*/
}
#hero {
  font-weight: bold;
  font-size: 3em;
  color: var(--xorcery);
  /* text-shadow: 1px 3px 2px #530070; */
  text-shadow: 1px 3px 2px #fe36fb;
}
#hero .arg {
  font-weight: normal;
  color: #fa72d2;
  font-size: 0.7em;
}
#problem {
  /* background-color: #ef5c8070; *//*#ac337d;*/
  background: linear-gradient(#dd5cef70, #ac337d);
}
#problem img {
  box-shadow: 0px 2px 10px #01016191;
  border-radius: 4px;
}
#problem p { padding: 1.5em; }

@media (max-width: 499px) {
  #hero { font-size: 2em; }
  section { padding: 2em; }
  nav { flex-direction: column; }
  nav .sep { display: none; }
}

button, a[role="button"] {
  --prime: var(--xorcery);
  border: 1px solid var(--prime);
  background: black;
  color: var(--prime);
  padding: 0.5em 1.5em;
  font-family: monospace;
  margin: 1em 4px;
  text-decoration: none;
}
button.biff {
  font-size: 1.3em;
  border: none;
  background: var(--prime);
  color: white;
}
button.glitch, a[role="button"].glitch { --prime: var(--blood); }
button.go, a[role="button"].go { --prime: var(--tox); }
button[disabled] { --prime: #888; }
pre.bq {
  --prime: #888;
  border: 1px solid var(--prime);
  padding: 4px 8px;
  color: var(--prime);
  font-size: large;
  overflow-x: scroll;
  max-width: 60vw;
}
dialog {
  background: #000;
  border: 2px outset var(--xorcery);
  color: #eee;
  min-width: 80vw;
}
dialog h2 { color: var(--xorcery); }
img.asciiloader { filter: sepia(100%) hue-rotate(214deg); }
.sublm { color: #888; }
/*
counter d:first-child {
  border: 1px solid var(--counterborder);
}

.mush {
  filter: sepia(100%) hue-rotate(214deg);
}

@keyframes rotate-hue {
  from {filter: sepia(100%) hue-rotate(0deg);}
  to {filter: sepia(100%) hue-rotate(360deg);}
}
.blinky {
  filter: sepia(100%) hue-rotate(214deg);
}
@keyframes blink-cursor {
  from, 49% {opacity: 1;}
  50%, to {opacity: 0;}
}
*/

/*guestbook*/
guest-book { display: block; }
guest-book .post {
  margin: 2em 0;
  max-width: 500px;
  overflow-x: hidden;
  border-left: 1px dashed var(--xorcery);
  padding-left: 1em;
  margin-left: calc(1em * var(--depth));
}
guest-book .post .portrait img,
guest-book .post .portrait .placeholder,
post-form author .placeholder,
post-form author img {
  border-radius: 4px;
  border: 1px solid var(--xorcery);
  max-width: 3em;
  box-shadow: 0 0 9px #d42be2a8;
}
guest-book .post .portrait img,
guest-book .post .portrait .placeholder {
  margin-top: 1em;
}

guest-book .post .portrait .placeholder,
post-form author .placeholder { width: 3em; height: 3em; }
guest-book .gutter { padding-right: 1em; }
guest-book .alias { font-size: larger; }
guest-book .post .content {
  max-height: 16em;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
}
guest-book .post .images img.preview {
  max-width: 4em;
  max-height: 4em;
  border: 1px solid #555;
  filter: grayscale() blur(2px);
}
guest-book .post .images dialog img { max-width: 100%; }
guest-book .post .images dialog { padding: 0; background-color: transparent; }
guest-book .post time { color: #888; }
@media (max-width: 499px) {
  section#guestbook { padding: 0.5em; }
  guest-book .post .portrait img,
  guest-book .post .portrait .placeholder { max-width: 2em; max-height: 2em; }
}

.r90 { transform: rotate(90deg); display: inline-block; }
.r-90 { transform: rotate(-90deg); display: inline-block; }

table#as-matrix {
  border-collapse: collapse;
  margin-right: 2em;
}
table#as-matrix td {
  border: 1px solid var(--xorcery);
  padding: 0.5em;
  text-align: center;
  font-size: x-large;
}
table#as-matrix td[selected] { background-color: var(--xorcery); }
table#as-matrix td[data-disabled=true] { background-color: var(--xorcery); opacity: 0.6 }
table#as-matrix tr.mono th { font-family: monospace; }

#geohash-input {
  background: black;
  color: #fff;
  outline: none;
  border: 1px solid var(--xorcery);
  font-size: x-large;
  font-weight: bold;
  width: 5em;
  text-align: center;
}
.geo-desc {
  margin-left: 2em;
}

author {
  display: block;
  border: 1px solid var(--xorcery);
  padding: 1em;
}
textarea, input[type=text] {
  background: none;
  color: white;
  border: 1px dashed #888;
  padding: 4px 8px;
  box-sizing: border-box;
}
textarea:focus, input[type=text]:focus {
  border: 1px dashed var(--xorcery);
  outline: none;
}
.subl { color: #888; }
/**
 * Loading ([aria-busy=true])
 */
[aria-busy=true] {
  cursor: progress;
}

[aria-busy=true]:not(input, select, textarea, html)::before {
  --loading-spinner-opacity: 0.5;
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 0.1875em solid currentColor;
  border-radius: 1em;
  border-right-color: transparent;
  content: "";
  vertical-align: text-bottom;
  vertical-align: -0.125em;
  animation: spinner 0.75s linear infinite;
  opacity: var(--loading-spinner-opacity);
}
[aria-busy=true]:not(input, select, textarea, html):not(:empty)::before {
  margin-right: calc(var(--spacing) * 0.5);
  margin-left: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: calc(var(--spacing) * 0.5);
  margin-inline-end: calc(var(--spacing) * 0.5);
}
[aria-busy=true]:not(input, select, textarea, html):empty { text-align: center; }

button[aria-busy=true],
input[type=submit][aria-busy=true],
input[type=button][aria-busy=true],
input[type=reset][aria-busy=true],
a[aria-busy=true] { pointer-events: none; }
@keyframes spinner { to { transform: rotate(360deg); } }

/* picoflex.css */
row, column, column-reverse, row-reverse, .flex {display:flex;}
row, .row {flex-direction: row;}
row-reverse, .row-reverse{flex-direction: row-reverse;}
column, col, .column, .col {flex-direction: column;}
column-reverse, .column-reverse{flex-direction: column-reverse;}
.wrap{flex-wrap: wrap;}
.wrap-reverse{flex-wrap: wrap-reverse;}
.nowrap{flex-wrap: nowrap;}
.space-around{ justify-content: space-around; }
.space-between{ justify-content: space-between; }
.start{ justify-content: flex-start; }
.end{ justify-content: flex-end; }
.center{ justify-content: center; }
.xstart{ align-items: flex-start; }
.xend{ align-items: flex-end; }
.xcenter{ align-items: center; }
.xbaseline{ align-items: baseline; }
.xstrech { align-items: strech; }
.grow1{ flex-grow: 1; }
.grow2{ flex-grow: 2; }
.grow3{ flex-grow: 3; }
.grow4{ flex-grow: 4; }
.text-right{ text-align: right;}
.text-left{ text-align: left;}
.text-center{ text-align: center;}
.text-start{ text-align: start;}
.text-end{ text-align: end; }
.pull-right{ float: right; }
